.result {
	position: fixed;
  	top: 50%;
  	left: 50%;
  	font-size: 1.65vw;
 	transform: translate(-50%, -50%);
  	height: 90%;
  	width: 30%;
  	color: #ffff66;
  	text-shadow: 2px 0px 0px black;
}

.result_image {
	position: fixed;
	top: 25%;
	left: 10%;
	border: black;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    width:  17%;
    height:  47%;
}
.play_list{
	position: fixed;
  	top: 65%;
  	left: 85%;
  
 	transform: translate(-50%, -50%);
	height: 100%;
}

.iframe {
    frameborder: 0;
    height: 10%
    width: 100%;
}

.again {
	position: fixed;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.details {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.5vw;
}
