
.caption {
	position: absolute;
	top: 95%;
	left: 33%;
    font-family: "Merienda One", sans-serif;
    font-size: 28px;
	border: none;
	width: 600px;
	transform: translateX(-50%);

}
.main_btn {
  font-color: black;
  border-radius: 24px;
}


.container {
    position: absolute;
    top: 28%;
    left: 50%;
    border: white;
    transform: translateX(-50%) translateY(-40%);
    height: 525px;
    width: 600px;
}
.title {
    font-family: "Merienda One", sans-serif;
    color: #ffff66;
    font-size: 40px;
    border: none;
}