
.prompt {
    font-family: "Merienda One", sans-serif;
    color: white;
    font-size: 50px;
    border: none;
    text-align: center;
}

.answers {
    position: absolute;
    font-family: "Merienda One", sans-serif;
    color: white;
    font-size: 20px;
    border: none;
    left: 30%;
    top: 0%;
    width: 100%;
    text-align:left;
    input[type="radio"] {
      margin: 200px;
      list-style:none
    }

}
.button {
    position: absolute;
    top: 100%;
    left: 50%;
}
.containerQuestion {
    position: absolute;
    top: 45%;
    left: 20%;
    width: 450px;
    height: 200px;
    border: white;
    transform: translateX(-50%) translateY(-40%);
}
.label1 {
    position: absolute;
    top: 0%;
    left: 80%;
}
.label2 {
    position: absolute;
    top: 17%;
    left: 80%;
}

.label3 {
    position: absolute;
    top:34%;
    left: 80%;
}
.label4 {
    position: absolute;
    top: 50%;
    left: 80%;
    color: white;
}

.label5 {
    position: absolute;
    top: 67%;
    left: 80%;
    color: white;
}
.label6 {
    position: absolute;
    top: 84%;
    left: 80%;
}

ul{
    list-style-type:none;
}