<html>
  <head>
      {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>GFriend Quiz</title>
    {% endif %}

    
    <link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href = {{ url_for('static', filename='all_pages.css') }}>
   
    </head>

    <body>
        <img src={{ url_for('static', filename='background.jpg') }} class="bg">
        <div class = "overlay"> </div>
        <div class="container">
          <p class="title text-center">Which Member of Gfriend is your Soulmate?</p>
          <br>
          <p class="caption text-center">Take the quiz and find out!</p>
          <br>
          <form  action="" method="post" name="start">
            {{ form.hidden_tag() }}
            <div class="text-center"> {{form.startButton}}</div>
          </form>
        </div>
    </body>
